version: "3.9"

services:
  siem:
    container_name: tinypi-siem
    build:
      context: .              
      dockerfile: app/Dockerfile  
    ports:
      - "8000:8000"
      - "5514:5514/udp"
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    environment:
      - SIEM_DB=/data/events.db
      - SIEM_INTERFACE=eth0
      - PYTHONUNBUFFERED=1
    volumes:
      - siem_data:/data

volumes:
  siem_data: