services:
  siem:
    container_name: tinypi-siem
    build: ./app           
    network_mode: "host"    
    cap_add:
      - NET_ADMIN           
    restart: unless-stopped
    environment:
      - SIEM_DB=/data/events.db
      - SIEM_INTERFACE=eth0
      - SIEM_SYSLOG_PORT=5514
      - SIEM_PORT=8000
      - PYTHONUNBUFFERED=1
    volumes:
      - siem_data:/data

volumes:
  siem_data: